

.container-babyboom {
    background: #eaf7ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    margin-top: 20px; /* Added margin-top to push container slightly down */
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}


input, button {
    margin: 10px 0;
    padding: 15px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #2b9fff;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #1b7fd3;
}

#result {
    margin-top: 10px;
    font-size: 24px; /* Larger text for result */
    color: #333;
    text-align: center;
}

#result-explanation {
    margin-top: 100px;
    font-size: 18px; /* Smaller text for result explanation */
    color: #666;
    text-align: center;
}